@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --primaryText: #292929;
  --secondText: #6f6f6f;
  --thirdText: #b8a37d;
  --textContent: #c4c4c4;
  --background: #ededed;
  --bgText: #e1daca;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: relative;
  z-index: 30;
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 110px;
}

.header__logo {
  display: inline-block;
  width: 170px;
  height: 170px;
  background-color: #b8a47f;
  border-radius: 50%;
  position: relative;
  margin-top: -50px;
}

.header__logo img {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.header__nav {
  display: flex;
  gap: 60px;
}

.header__nav a {
  color: white;
  font-weight: 700;
  font-size: 0.8rem;
  transition: 0.4s;
  position: relative;
}

.header__nav a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.header__nav a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header__nav a::before {
  position: absolute;
  content: " ";
  display: inline-block;
  width: 35px;
  height: 1.5px;
  top: 50%;
  left: -70%;
  background-color: var(--thirdText);
  transition: transform 0.3s ease;
}

.header__nav a::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.header__nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header__nav a::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 50%;
  right: -20%;
  background-color: var(--thirdText);
  transition: transform 0.3s ease;
}

.header__nav a:nth-child(1),
.header__nav a:nth-child(2) {
  color: var(--primaryText);
}

.header-drop {
  position: fixed;
  top: 0;
  left: -1000px;
  width: 50%;
  height: 100%;
  background-color: var(--thirdText);
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding-top: 20px;
}

#toggler:checked ~ .header-drop {
  left: 0;
}

.header-drop__logo img {
  width: 10%;
}

.header-drop__nav {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.header-drop__nav a {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}

.header-drop__nav a:hover {
  color: var(--primaryText);
}

.close-menu {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.header__menu {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  display: none;
}

.navy-salt {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: animateIn;
  animation-duration: 500ms;
  animation-delay: calc(var(--animation-order) * 1000ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  z-index: 20;
  margin-top: -120px;
}

.navy-salt__pagination {
  width: 7%;
  margin-top: 20px;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navy-salt__pagination--icon {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.1rem;
}

.navy-salt__pagination--icon .pagination--up {
  color: #c6b799;
}

.navy-salt__pagination--icon .pagination--down {
  color: var(--primaryText);
  font-weight: 900;
}

.navy-salt__pagination--number {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--secondText);
}

.navy-salt__pagination--number > li {
  cursor: pointer;
}

.navy-salt__pagination--number > li:first-child {
  font-size: 1.9rem;
  color: var(--primaryText);
  padding: 10px 15px 10px 15px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
}

.navy-salt--right {
  display: flex;
  justify-content: flex-end;
}

.navy-salt__background {
  width: 71%;
  position: relative;
}

.navy-salt__background img {
  width: 100%;
}

.navy-salt__title {
  position: absolute;
  left: 11%;
  bottom: 35%;
  transform: translate(-50%, 50%);
  width: 700px;
  height: 270px;
  flex-direction: column;
  align-items: center;
}

.navy-salt__title--top {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primaryText);
}

.navy-salt__title--bottom {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  letter-spacing: 8px;
}

.navy-salt__title--more {
  margin-left: 80px;
  margin-top: 30px;
  color: var(--thirdText);
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}

.navy-salt__title--more:hover {
  scale: 1.1;
  transition: 0.4s;
}

.navy-salt__title--more::before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 1.5px;
  background-color: var(--thirdText);
  margin-bottom: 5px;
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .navy-salt__pagination {
    width: 0;
    order: 2;
  }
  .navy-salt__pagination--number {
    flex-direction: row;
    margin-top: 0;
  }
  .navy-salt__pagination--icon {
    display: none;
  }
  .navy-salt--right {
    display: flex;
    flex-direction: column;
  }
  .navy-salt__title {
    width: 100%;
    transform: translate(0, 0);
    bottom: 0%;
    left: 0%;
    padding: 10px;
  }
  .navy-salt__background {
    width: 100%;
    position: static;
    display: flex;
    flex-direction: column;
  }
  .navy-salt {
    flex-direction: column;
  }
  .header {
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
  }
  .header__nav {
    display: none;
  }

  .header__menu {
    display: inline-block;
  }
}

@media (max-width: 685px) {
  .navy-salt__title--bottom {
    font-size: 2.3rem;
  }
}

@media (max-width: 640px) {
  .header__logo {
    width: 120px;
    height: 120px;
  }
  .navy-salt__title--top {
    margin-top: 20px;
  }
  .navy-salt__title--bottom {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  .navy-salt__title--more {
    margin-top: 0px;
    margin-left: 0;
  }
}

/* VOYAGER */

.voyager-daypack {
  display: flex;
  justify-content: flex-start;
  padding: 100px 0px;
  animation-name: animateIn;
  animation-duration: 2000ms;
  animation-delay: calc(var(--animation-order) * 5000ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

.voyager-daypack__background {
  width: 70%;
  position: relative;
}

.voyager-daypack__background img {
  width: 100%;
}

.voyager-daypack__box {
  position: absolute;
  left: 100%;
  bottom: 55%;
  transform: translate(-50%, 50%);
  border: 3px solid var(--thirdText);
  width: 700px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.voyager-daypack__title > h1 {
  width: 50%;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 8px;
  white-space: nowrap;
  position: absolute;
  right: 80%;
  top: 30%;
}

.voyager-daypack__title > p {
  color: white;
  margin-right: 10px;
  margin-top: 20px;
}

.voyager-daypack__content {
  width: 50%;
  text-align: start;
  line-height: 2.5;
  font-size: 0.8rem;
  color: var(--textContent);
  padding-left: 25px;
  padding-right: 50px;
}

.voyager-daypack__more {
  position: absolute;
  bottom: -50%;
  right: 20%;
  font-size: 5rem;
  width: 130px;
  height: 150px;
  background-color: white;
  text-align: center;
  animation-name: example;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.voyager-daypack__more img {
  width: 10%;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 1180px) {
  .voyager-daypack__box {
    left: 99%;
  }
}

@media (max-width: 1170px) {
  .voyager-daypack__box {
    left: 95%;
  }
  .voyager-daypack__content {
    padding-left: 65px;
  }
}

@media (max-width: 1160px) {
  .voyager-daypack__box {
    left: 93%;
  }
}

@media (max-width: 1024px) {
  .voyager-daypack {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .voyager-daypack__background {
    width: 100%;
    position: static;
    display: flex;
    flex-direction: column;
  }
  .voyager-daypack__box {
    position: static;
    border: none;
    transform: translate(0, 0);
    display: block;
    width: 100%;
    height: 100%;
  }

  .voyager-daypack__title {
    margin-top: -80px;
  }
  .voyager-daypack__title > h1 {
    position: static;
    padding: 0px 20px;
  }
  .voyager-daypack__title > p {
    padding: 0px 20px;
  }
  .voyager-daypack__content {
    width: 100%;
    padding: 10px;
    color: black;
  }
  .voyager-daypack__more {
    background-color: transparent;
    position: static;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .voyager-daypack__title > h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 420px) {
  .voyager-daypack__title {
    margin-top: -110px;
  }
  .voyager-daypack__title > h1 {
    white-space: pre-wrap;
  }
}

@keyframes example {
  0% {
    bottom: -50%;
  }
  50% {
    bottom: -48%;
  }
  100% {
    bottom: -47%;
  }
}

/* DRIFTER */

.drifter {
  display: flex;
  justify-content: flex-end;
  padding: 100px 0px;
  background-color: var(--background);
  animation-name: animateIn;
  animation-duration: 2000ms;
  animation-delay: calc(var(--animation-order) * 10000ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

.drifter__background {
  width: 65%;
  position: relative;
}

.drifter__background img {
  width: 100%;
}

.drifter__box {
  position: absolute;
  left: 0%;
  bottom: 55%;
  transform: translate(-50%, 50%);
  border: 3px solid var(--thirdText);
  width: 700px;
  height: 270px;
  display: flex;
  align-items: center;
  z-index: 30;
}

.drifter__box::before {
  content: "NAVY SALT";
  position: absolute;
  height: 18px;
  overflow: hidden;
  top: -7.5%;
  left: 3%;
  z-index: 10;
  font-size: 1.4rem;
  color: var(--textContent);
  font-weight: 700;
  letter-spacing: 7px;
}

.drifter__title > h1 {
  width: 50%;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 8px;
  white-space: nowrap;
  position: absolute;
  left: 60%;
  top: 30%;
}

.drifter__content {
  width: 50%;
  text-align: start;
  line-height: 2.5;
  font-size: 0.8rem;
  color: var(--textContent);
  padding-left: 50px;
  padding-right: 10px;
}

.drifter__title > p {
  color: white;
  margin-left: 10em;
  margin-top: 2em;
}

.drifter__more {
  position: absolute;
  bottom: -50%;
  left: 17%;
  font-size: 5rem;
  width: 130px;
  height: 150px;
  background-color: var(--background);
  text-align: center;
  animation-name: example;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.drifter__more img {
  width: 10%;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .drifter {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .drifter__background {
    width: 100%;
    position: static;
    display: flex;
    flex-direction: column;
  }
  .drifter__box {
    position: static;
    border: none;
    transform: translate(0, 0);
    display: block;
    width: 100%;
    height: 100%;
  }

  .drifter__box::before {
    display: none;
  }

  .drifter__title > h1 {
    position: static;
  }
  .drifter__title > p {
    padding: 0px 20px;
    margin-left: 4em;
  }
  .drifter__content {
    width: 100%;
    padding: 10px;
    color: black;
  }
  .drifter__more {
    background-color: transparent;
    position: static;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .drifter__title > h1 {
    font-size: 1.5rem;
    padding: 0 10px;
  }
  .drifter__title > p {
    margin-left: 0;
  }
}

@media (max-width: 420px) {
  .drifter__title > h1 {
    white-space: pre-wrap;
  }
}

/* COLLECTION */

.collection {
  margin: 0 auto;
  padding: 50px 0px;
  animation-name: animateIn;
  animation-duration: 2000ms;
  animation-delay: calc(var(--animation-order) * 15000ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

.collection__title {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 8px;
  margin-left: -50px;
}

.collection__title--bottom {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-right: 120px;
}

.collection__title--bottom > h4 {
  background-color: var(--bgText);
  width: 400px;
  padding: 1px 4px;
  color: var(--secondText);
  font-weight: 600;
}

.collection__title--bottom::before {
  content: " ";
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: var(--primaryText);
}

.collection__detail {
  margin-top: 100px;
  padding-right: 240px;
  padding-left: 120px;
}

.detail--number {
  font-size: 3rem;
  color: var(--secondText);
  font-weight: 700;
  letter-spacing: 8px;
}

.detail--number1::after {
  content: " ";
  display: inline-block;
  width: 100px;
  height: 1.5px;
  background-color: var(--secondText);
  margin-bottom: 15px;
  font-weight: 700;
}

.collection__content--1 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.collection__content--1__img {
  width: 70%;
}

.collection__content--1__img img {
  width: 100%;
}

.collection__content--1__text {
  width: 30%;
}

.collection__title--item {
  font-weight: 800;
  color: var(--primaryText);
  font-size: 1.4rem;
  letter-spacing: 5px;
}

.collection_para {
  font-size: 0.8rem;
  color: var(--secondText);
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

.collection1__para {
  margin-top: 15px;
  width: 320px;
}

.collection__more {
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-weight: 700;
  font-size: 0.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.collection__more > span {
  font-weight: 700;
  margin-left: 10px;
}

.collection__more:hover {
  scale: 1.1;
  transition: 0.4s;
}

.collection1__line--top {
  width: 2px;
  height: 50px;
  background-color: var(--primaryText);
  margin-bottom: 15px;
}

.collection1__line--bottom {
  margin-top: 50px;
  display: flex;
}

.collection1__line--bottom > p {
  width: 2px;
  height: 120px;
  background-color: var(--primaryText);
  display: inline-block;
  position: relative;
  z-index: 50;
}

.collection__logo {
  width: 35%;
  margin-left: 15px;
}

.collection__logo img {
  width: 100%;
}

.collection__content--2 {
  display: flex;
  justify-content: center;
}

.collection__content--2__img {
  width: 40%;
  margin-top: -125px;
}

.collection__content--2__img img {
  width: 100%;
}

.collection__content--2__text {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.collection2__para {
  padding-left: 280px;
  margin-top: 15px;
}

.collection2__title {
  position: relative;
  z-index: 40;
  display: inline-block;
  padding: 0px 15px;
  align-self: flex-end;
  margin-top: 45px;
}

.collection2__title::before {
  position: absolute;
  content: " ";
  display: inline-block;
  height: 120px;
  width: 2px;
  bottom: 120%;
  left: 5%;
  background-color: var(--primaryText);
}

.collection2__title--bg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 20px;
  z-index: -1;
  background-color: var(--bgText);
}

.collection2__more {
  text-align: start;
  display: block;
  padding-left: 280px;
  margin-top: 20px;
}

.detail--number2 {
  align-self: end;
  margin-bottom: -40px;
  position: relative;
  z-index: 50;
}

.collection__detail--3 {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 130px;
  padding-left: 150px;
}

.collection__content--3__img {
  width: 60%;
  position: relative;
  z-index: 40;
}

.collection__content--3__img img {
  width: 100%;
}

.collection__content--3__text {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.collection3__para {
  margin-top: 30px;
}

.detail--number3 {
  align-self: end;
  position: relative;
  z-index: 40;
}

.product-collection {
  display: flex;
  gap: 30px;
  padding-right: 50px;
  transition: 0.4s;
}

.product__detail {
  width: 30%;
  position: relative;
}

.product__detail img {
  width: 100%;
}

.product__detail:not(:last-child):hover {
  transition: 0.4s;
}

.product__detail:not(:last-child)::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #292929;
  opacity: 0.7;
  display: none;
  z-index: 20;
}

.product__detail:hover:after {
  display: inline-block;
}

.add-to-cart {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translateX(-50%, -50%);
  font-size: 2.5rem;
  color: white;
  display: none;
  z-index: 30;
  cursor: pointer;
}

.product__detail:hover .add-to-cart {
  display: inline-block;
}

.product--item7 {
  width: 35%;
  position: relative;
  margin-top: -35px;
  z-index: 30;
  color: #848177;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 3rem;
  font-weight: 700;
}

.product--item7::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 250%;
  bottom: 0;
  background-color: #5a4234;
  opacity: 0.2;
}

.collection__detail--4 {
  margin-top: -6em;
  margin-right: 40px;
}

.collection4__background {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.collection4__background img {
  width: 50%;
}

.collection4__title {
  position: absolute;
  top: 45%;
  left: 24.5%;
  width: 50%;
  z-index: 30;
  color: white;
  font-size: 3rem;
  letter-spacing: 8px;
  text-shadow: 0px 10px 10px var(--textContent);
  white-space: pre-wrap;
}

.item7-text {
  font-size: 2.5rem;
  position: absolute;
  top: 17%;
  right: 5%;
  height: 75px;
  overflow: hidden;
}

.item7-text span {
  margin-top: -15px;
  display: block;
  float: left;
}

@media (max-width: 1256px) {
  .product--item7::before {
    height: 230px;
  }
}

@media (max-width: 1195px) {
  .collection2__para {
    padding-left: 0px;
  }
}
@media (max-width: 1350px) {
  .collection__detail--4 {
    margin-top: -1em;
  }
}
@media (max-width: 1120px) {
  .collection2__more {
    padding-left: 0px;
  }
}

@media (max-width: 1077px) {
  .collection4__title {
    top: 35%;
  }
}

@media (max-width: 1024px) {
  .collection__detail {
    padding: 20px 40px;
    margin: 0 auto;
  }
  .collection1__para {
    width: 100%;
  }
  .collection2__para {
    padding-left: 0px;
  }
  .collection3__para {
    margin-top: 0;
  }
  .collection3__title {
    margin-top: -20px;
  }
}

@media (max-width: 1000px) {
  .collection__content--2__img {
    margin-top: 0;
  }
}

@media (max-width: 860px) {
  .collection__detail--3 {
    padding-left: 0;
  }
  .collection4__title {
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  .item7-text {
    font-size: 2rem;
    top: 27%;
  }

  .product--item7::before {
    height: 100%;
  }
}

@media (max-width: 700px) {
  .product-collection {
    gap: 10px;
  }
}

@media (max-width: 640px) {
  .collection__content--1,
  .collection__content--2,
  .collection__detail--3 {
    flex-direction: column;
  }
  .collection__detail--3 {
    gap: 0px;
    margin-top: 30px;
  }
  .collection2__title,
  .collection3__title {
    margin-top: 0;
  }
  .collection__content--1__img,
  .collection__content--1__text,
  .collection__content--2__text,
  .collection__content--2__img,
  .collection__content--3__img,
  .collection__content--3__text {
    width: 100%;
  }

  .collection1__para {
    margin-top: 0;
  }
  .collection__more {
    margin-top: 5px;
  }
  .collection1__line--top {
    display: none;
  }
  .collection1__line--bottom {
    margin-top: 10px;
  }
  .collection1__line--bottom > p {
    height: 0px;
  }
  .detail--number2 {
    margin-bottom: 0;
    order: 1;
  }
  .collection__title {
    margin-left: 0;
    font-size: 1.5rem;
    white-space: pre-wrap;
  }
  .collection__title--bottom {
    float: none;
  }
  .collection__content--2__img,
  .collection__content--3__img {
    order: 2;
  }
  .collection__content--2__text {
    order: 3;
  }
  .collection2__title::before {
    height: 0px;
  }
  .collection__detail--4 {
    margin-right: 0;
  }
  .collection4__background img {
    width: 100%;
  }
  .product-collection {
    flex-wrap: wrap;
    padding-right: 0;
  }
  .product--item7 {
    display: none;
  }
}

@media (max-width: 620px) {
}

/* FOOTER */
.footer {
  padding: 30px 60px;
  background-color: var(--background);
  margin: 0 auto;
}

.footer--top {
  display: flex;
  flex-wrap: wrap;
}

.footer__logo {
  width: 10%;
}

.footer__logo img {
  width: 80%;
}

.footer__menu {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 80px;
}

.footer__menu > ul {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.footer__menu > ul > li {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--secondText);
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}

.footer__menu > ul > li::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.footer__menu > ul > li:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer__menu > ul > li::before {
  position: absolute;
  content: " ";
  display: inline-block;
  width: 35px;
  height: 1.5px;
  top: 50%;
  left: -90%;
  background-color: var(--thirdText);
  transition: transform 0.3s ease;
}

.footer__menu > ul > li::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.footer__menu > ul > li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer__menu > ul > li::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 50%;
  right: -20%;
  background-color: var(--thirdText);
  transition: transform 0.3s ease;
}

.footer__menu > ul > li:hover {
  color: var(--primaryText);
  transition: 0.4s;
}

.footer__address {
  font-family: "Roboto", sans-serif;
}

.footer__address > h5 {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--primaryText);
}

.footer__address > p {
  font-size: 0.8rem;
  color: var(--secondText);
  font-weight: 300;
}

.footer__contact {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__contact--title {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--primaryText);
}

.footer__contact > p {
  font-size: 0.6rem;
  font-weight: 500;
}

.input-email {
  display: flex;
  gap: 5px;
}

.input-email input {
  outline: none;
  border: 1px solid var(--bgText);
  padding: 5px;
}

.input-email__submit {
  background-color: #292929;
  position: relative;
  padding: 0px 18px;
  cursor: pointer;
}

.input-email__submit--icon {
  position: absolute;
  color: white;
  font-size: 0.7rem;
  top: 30%;
  left: 30%;
}

.footer--bottom {
  display: flex;
  gap: 100px;
  align-items: center;
}

.footer__social {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  font-size: 0.8rem;
}

.footer__social > li {
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}

.footer__social > li::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.footer__social > li:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer__social > li::before {
  position: absolute;
  content: " ";
  display: inline-block;
  width: 35px;
  height: 1.5px;
  top: 50%;
  left: -70%;
  background-color: var(--thirdText);
  transition: transform 0.3s ease;
}

.footer__social > li::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.footer__social > li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer__social > li::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 50%;
  right: -20%;
  background-color: var(--thirdText);
  transition: transform 0.3s ease;
}

.footer__social > li:hover {
  color: var(--primaryText);
  font-weight: 600;
  transition: 0.4s;
}

.copyright {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  color: var(--secondText);
}

@media (max-width: 1024px) {
  .footer--top {
    gap: 20px;
  }
  .footer__menu {
    gap: 30px;
    width: 60%;
  }
  .footer__menu > ul {
    gap: 20px;
  }

  .footer--bottom {
    margin-top: 20px;
  }
}

@media (max-width: 805px) {
  .footer--top {
    flex-direction: column;
  }
  .footer__menu {
    flex-direction: column;
  }
  .footer__contact {
    width: 100%;
  }
  .footer--bottom {
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
  }
  .footer__social {
    gap: 30px;
  }
}

@media (max-width: 640px) {
  .footer__social {
    gap: 20px;
  }
}

@media (max-width: 1170px) {
  .input-email__submit {
    padding: 0px 10px;
  }
  .input-email {
    gap: 0px;
  }
}
